In [1]:
import pandas as pd
import sqlite3

con = sqlite3.connect("ETL-BCB/src/datasets/etl.db")
query = "select * from meios_pagamentos_tri"
df = pd.read_sql(query, con)
con.close()

In [2]:
df

,datatrimestre,valorPix,valorTED,valorTEC,valorCheque,valorBoleto,valorDOC,valorCartaoCredito,valorCartaoDebito,valorCartaoPrePago,...,quantidadeCheque,quantidadeBoleto,quantidadeDOC,quantidadeCartaoCredito,quantidadeCartaoDebito,quantidadeCartaoPrePago,quantidadeTransIntrabancaria,quantidadeConvenios,quantidadeDebitoDireto,quantidadeSaques
0,2024-12-31 00:00:00,7714115.37,11647265.67,0.00,187486.45,2530070.72,0.00,728621.99,259929.79,85637.90,...,41511.28,1459164.03,0.00,5351537.72,4282401.27,3339927.19,492218.65,633961.05,3795103.04,658974.39
1,2024-09-30 00:00:00,6975429.47,11180217.68,0.00,194330.60,2445000.04,0.00,663288.44,241932.98,78531.94,...,44243.73,1466737.40,0.00,5042306.16,4121806.10,3132433.07,426403.58,661918.39,3832577.08,664226.23
2,2024-06-30 00:00:00,6284296.05,10662555.73,0.00,221553.82,2360423.79,0.00,631811.52,239101.56,77389.01,...,44981.97,1439100.25,0.00,4879707.17,4057958.85,3046233.97,328551.70,679418.05,3320590.50,698603.67
3,2024-03-31 00:00:00,5429305.43,9651625.56,925.26,190457.25,2248972.68,650.80,607470.96,235111.60,73035.61,...,46468.88,1422731.42,662.65,4723437.71,3952365.16,2774237.04,277240.15,716794.83,3238699.12,683043.00
4,2023-12-31 00:00:00,5300155.00,10090921.81,5787.89,221424.78,2317765.95,4684.98,630191.34,259057.92,79592.40,...,52101.15,1452479.47,4664.79,4813848.35,4238653.32,2974411.01,376307.77,669806.38,3102557.70,752440.67
5,2023-09-30 00:00:00,4469529.57,9960251.89,4156.38,218121.88,2296686.99,10131.89,581902.42,240827.84,69553.22,...,54410.39,1487073.34,12613.82,4583771.68,4014361.45,2677826.63,318577.87,705507.61,2790819.99,758691.59
6,2023-06-30 00:00:00,3900377.43,10657463.13,4770.74,228408.82,2249059.61,11258.23,561910.94,238172.21,63923.28,...,56339.37,1494218.13,10328.16,4434832.09,3929786.47,2426618.73,278256.94,734712.47,2556236.88,778454.00
7,2023-03-31 00:00:00,3447198.28,9919602.84,4535.17,240686.19,2211522.99,7467.11,535520.44,237175.13,61169.03,...,57830.55,1510817.52,7530.90,4189059.28,3835192.13,2237800.76,256276.86,764472.57,2437253.99,662875.26

In [ ]:
soma = df['valorPix'].sum()*1e6
total = df['valorPix'].count()

In [ ]:
print("MÃ©dia das transaÃ§Ãµes pix por trimestre: ", round(soma/total,2))

In [ ]:
soma_valores = df['valorPix'].sum()*1e6
soma_transacoes = df['quantidadePix'].sum()*1e3

In [ ]:
print(round(soma_valores/soma_transacoes))

In [ ]:
df['valorPix'].mean()*1e6

In [ ]:
(df['valorPix']/df['quantidadePix']).mean()*1e3

In [3]:
df['media_pix'] = (df['valorPix']*1e6) / (df['quantidadePix']*1e3)
df['media_ted'] = (df['valorTED']*1e6) / (df['quantidadeTED']*1e3)
df['media_boleto'] = (df['valorBoleto']*1e6) / (df['quantidadeBoleto']*1e3)

In [4]:
df[['datatrimestre', 'media_pix', 'media_ted', 'media_boleto']]

         datatrimestre   media_pix     media_ted  media_boleto
0  2024-12-31 00:00:00  429.496278  55195.728156   1733.917961
1  2024-09-30 00:00:00  421.567107  54968.206477   1666.965089
2  2024-06-30 00:00:00  409.216689  52455.245541   1640.208033
3  2024-03-31 00:00:00  399.935412  47378.275325   1580.742963
4  2023-12-31 00:00:00  406.276952  44557.206558   1595.730610
5  2023-09-30 00:00:00  402.046463  45748.481531   1544.434244
6  2023-06-30 00:00:00  415.084832  48704.444187   1505.174890
7  2023-03-31 00:00:00  424.720343  43365.523352   1463.792259

In [5]:
df['pix_crescimento'] = df['valorPix'].pct_change() * 100

In [6]:
print(df[['datatrimestre', 'pix_crescimento']])

         datatrimestre  pix_crescimento
0  2024-12-31 00:00:00              NaN
1  2024-09-30 00:00:00        -9.575769
2  2024-06-30 00:00:00        -9.908113
3  2024-03-31 00:00:00       -13.605193
4  2023-12-31 00:00:00        -2.378765
5  2023-09-30 00:00:00       -15.671720
6  2023-06-30 00:00:00       -12.734050
7  2023-03-31 00:00:00       -11.618854

In [7]:
total_debito = df['quantidadeCartaoDebito'].sum()
total_credito = df['quantidadeCartaoCredito'].sum()
total_prepago = df['quantidadeCartaoPrePago'].sum()

In [8]:
print(f"Comparativo TransaÃ§Ãµes por cartÃµes: \n")
print(f"CrÃ©dito: {round(total_credito,2):,.0f}")
print(f"DÃ©bito: {round(total_debito,2):,.0f}")
print(f"PrÃ©-Pago: {round(total_prepago,2):,.0f}")

Comparativo TransaÃ§Ãµes por cartÃµes:

CrÃ©dito: 38,018,500
DÃ©bito: 32,432,525
PrÃ©-Pago: 22,609,488

In [9]:
total_geral = total_debito + total_credito + total_prepago

In [11]:
print(f"Comparatativo TransaÃ§Ãµes por cartÃµes em porcentagem: \n")
print(f"CrÃ©dito: {round(total_credito/total_geral,2)*100}%")
print(f"DÃ©bito: {round(total_debito/total_geral,2)*100}%")
print(f"PrÃ©-Pago: {round(total_prepago/total_geral,2)*100}%")

Comparatativo TransaÃ§Ãµes por cartÃµes em porcentagem:

CrÃ©dito: 41.0%
DÃ©bito: 35.0%
PrÃ©-Pago: 24.0%